<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>教师教材管理系统 - 教师教材录入</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<div>
		<nav class="navbar navbar-default container-fluid" role="navigation">
			<div class="navbar-header">
				<img class="navbar-brand" src="/img/logo.png">
			</div>
	
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/tch/index">Welcome, teacher!</a>
					<li><a href="/tch/bookmgr">教材管理</a></li>
					<li><a href="/tch/logout">退出登陆</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">

		<div class="panel panel-warning addDiv" style="“width: 550px;">
			<div class="panel-heading">新增教材</div>
			<div class="panel-body">
				
					<table class="addTable table table-responsive table-striped table-hover">
						
						<!-- 分两栏来录入课本信息，第一栏为课程... -->
						<tr>
							<td>课程信息</td>
							<td>
								<table class="addTable table table-responsive table-striped table-hover">
									<tr><td colspan="2">
										<div class="row" style="margin: 5px;">
											<div class="form-group">
												<input id="search_bar" name = "search_bar" type="text" style="width: 90%">
												<button onclick="foo()" class="btn btn-warning" style="margin: 5px;">搜索</button>
											</div>
										</div>
										<div class="row" style="margin: 5px;">
											<select id="search_result_lesson" name = "search_result_lesson" class="form-control">
												<option selected value="1">搜索结果</option>
											</select>
										</div>
									</td></tr>
									<tr>
										<td>课程编号</td>
										<td><font style="color: red;">
										<input id = "lesson_id" name = "lesson_id" type = "text">
										(这里查库后显示课程信息)</font></td>
									</tr>
									<tr>
										<td>课程名称</td>
										<td><font style="color: red;">
										<input id = "lesson_name" name = "lesson_name" type = "text">
										(这里查库后显示课程信息)</font></td>
									</tr>
									<tr>
										<td>课程学时</td>	
										<td><font style="color: red;">									
										<input id = "lesson_time" name = "lesson_time" type = "text">
										(这里查库后显示课程信息)</font></td>
									</tr>
								</table>
							</td>
						</tr>
						<!-- 第二栏为书本信息 -->
						<tr>
							<td>教材信息</td>
							<td><div>
								<form method="post" id="addForm" action="add">
								<table class="addTable table table-responsive table-striped table-hover">
									<tr>
										<td>从该课的以前记录快速完成...</td>
										<td>
											<select id="search_result_book"  name="search_result_book" class="form-control">
												<option selected value="1">记录列表</option>
											</select>
										</td>
									</tr>
									<tr>
										<td>教材名</td>
										<td><input id="name" name="name" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>ISBN书号</td>
										<td><input id="ISBN" name="ISBN" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>教材版别</td>
										<td><input id="edition" name="edition" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>主编</td>
										<td><input id="chief_editor" name="chief_editor"
											type="text" class="form-control"></td>
									</tr>
									<tr>
										<td>出版单位</td>
										<td><input id="publisher" name="publisher" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>出版时间</td>
										<td><input id="pub_date" name="pub_date" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>作者</td>
										<td><input id="author" name="author" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>价格</td>
										<td><input id="price" name="price" type="text"
											class="form-control"></td>
									</tr>
								</table>
								</form>
							</div></td>
						</tr>
						
						<!-- Submit! -->
						<tr>
							<td colspan="2" align="center">
								<button type="submit" class="btn btn-success">新增</button>
							</td>
						</tr>
				</table>
			</div>
		</div>

		<div class="listDataTableDiv">
			<table
				class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr class="success">
<!-- 						<th>ID</th> -->
						<th>课程编号</th>
						<th>教材名称</th>
						<th>ISBN书号</th>
						<th>版别</th>
						<th>主编</th>
						<th>作者</th>
						<th>出版单位</th>
						<th>出版时间</th>
						<th>价格</th>
						<th>审核状态</th>
						<th>编辑</th>
					</tr>
				</thead>

				<!-- th:each! -->
				<tbody>
					<tr th:each="obj : ${objList}" th:object="${obj.book}">
						<td th:text="|${obj.lesson.lessonDetail?.lessonCode} (学期${obj.lesson.lessonDetail?.semaster}, ${obj.lesson.name})|"></td>
						<td th:text="*{bookDetail?.name}"></td>
						<td th:text="*{bookDetail?.ISBN}"></td>
						<td th:text="*{bookDetail?.edition}"></td>
						<td th:text="*{bookDetail?.chiefEditor}"></td>
						<td th:text="*{bookDetail?.author}"></td>
						<td th:text="*{bookDetail?.institute}"></td>
						<td th:text="*{bookDetail?.pubDate}"></td>
						<td th:text="*{bookDetail?.price}"></td>
						<td><font style="color: red;" th:text="*{status}"></font></td>
						<td><a th:href="'/tch/edit/' + ${obj.id}">
							<span class="glyphicon glyphicon-edit"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>

	<div>
		<footer class="footer" style="padding: 20px">
			<div class="container text-center">
				<p class="text-muted">Copyright 1996-2004 教师教材管理系统. All Rights Reserved</p>
			</div>
		</footer>
	</div>
	
	
<script type="text/javascript" src="/js/jquery.min.js"></script>
	
<script>
var lesson;
var book;
	<!--课程搜索 -->
	function foo(){
		$.ajax({
			url:"http://localhost:8080/search/lesson",
			type:'post',
			data:"keyword=" + document.getElementById("search_bar").value,
			success:function(data){
				<!-- 添加课程下拉框 -->
				lesson = data;
				var objSelect = document.getElementById("search_result_lesson"); 
				for(var num in data){
					jsAddItemToSelect(objSelect, data[num].code+' '+data[num].name, data[num].id)
				}
			}
		});
	}
	
	<!--书本搜索 -->
	function searchBook(){
		$.ajax({
			url:"http://localhost:8080:/search/usebook",
			type:'post',
			data:"lid=" + document.getElementById("search_result_lesson").value,
			success:function(data){
				book = data;
				<!-- 添加书本下拉框 -->
				var objSelect = document.getElementById("search_result_book"); 
				for(var num in data){
					jsAddItemToSelect(objSelect, data[num].name+' '+data[num].edition, data[num].id)
				}
			}
		});
	}
	
	// 向select选项中 加入一个Item 
	function jsAddItemToSelect(objSelect, objItemText, objItemValue) { 
		var Item = new Option(objItemText,objItemValue);
		objSelect.options.add(Item); 
	} 
	 
	//lesson下拉框响应
	$("#search_result_lesson").change(function(){
		var obj = document.getElementById('search_result_lesson');
		var index = obj.selectedIndex - 1;
	     //更改3框，显示课程信息
	     $("#lesson_id").val(lesson[index].code);
	     $("#lesson_name").val(lesson[index].name);
	     $("#lesson_time").val(lesson[index].hours);
	     //ajax获取书本信息
	     searchBook();
	    });
	
	//book下拉框响应
	$("#search_result_book").change(function(){
	     //更改显示书本信息
		 $(".name").val() = book[$("#search_result_book").val()].name;
		 $(".ISBN").val() = book[$("#search_result_book").val()].isbn;
		 $(".edition").val() = book[$("#search_result_book").val()].edition;
		 $(".chief_editor").val() = book[$("#search_result_book").val()].chief_editor;
		 $(".publisher").val() = book[$("#search_result_book").val()].publisher;
		 $(".pub_date").val() = book[$("#search_result_book").val()].pub_date;
		 $(".author").val() = book[$("#search_result_book").val()].author;
		 $(".price").val() = book[$("#search_result_book").val()].price;
	    });
	
</script>
	
</body>
</html>