<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>教师教材管理系统 - 教师教材录入</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<div th:fragment="headerBar">
		<nav class="navbar navbar-default container-fluid" role="navigation">
			<div class="navbar-header">
				<img class="navbar-brand" src="/img/logo.png">
			</div>
	
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/tch/index" th:text="|Welcome, ${verifiedUser.userName}!|"></a>
					<li><a href="/tch/bookmgr">教材管理</a></li>
					<li><a href="/tch/logout">退出登陆</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>