<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/admin/header::head"></head>

<body>
	<div th:include="/admin/header::headerBar"></div>

	<div class="container">

		<div class="panel panel-warning addDiv" style="“width: 550px;">
			<div class="panel-heading">新增班级选课记录</div>
			<div class="panel-body">
				<form method="post" id="addForm" action="attend/add">
					<table class="addTable table table-responsive table-striped table-hover">
						
						<!-- TABLE HERE! -->
						
						<tr>
							<td>班级id<font style="color: red">*</font></td>
							<td><input id="cid" name="cid" type="text" class="form-control"></td>
						</tr>
						<tr>
							<td>课程id<font style="color: red">*</font></td>
							<td><input id="lid" name="lid" type="text" class="form-control"></td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<button type="submit" class="btn btn-success">新增</button>
							</td>
						</tr>
						
					</table>
				</form>
			</div>
		</div>

		<div class="listDataTableDiv">
			<table
				class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr class="success">
					
						<!-- TABLE HERE! -->
					
<!-- 						<th>ID</th> -->
						<th>ID</th>
						<th>班级</th>
						<th>课程</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="obj : ${objList}">
						<td th:text="${obj.id}"></td>
						<td th:text="|${obj.clazz.id} (${obj.clazz.name})|"></td>
						<td th:text="|${obj.lesson.id} (${obj.lesson.name})|"></td>
						<td><a th:href="'/admin/mgr/attend/edit/' + ${obj.id}"> <span
								class="glyphicon glyphicon-edit"></span>
						</a></td>
						<td><a th:href="'/admin/mgr/attend/delete/' + ${obj.id}"> <span
								class="glyphicon glyphicon-trash"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:include="/admin/footer::footerBar"></div>
</body>
</html>