<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>教材管理系统 - 管理后台</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<div th:fragment="headerBar">
		<nav class="navbar navbar-default container-fluid" role="navigation">
			<div class="navbar-header">
				<img class="navbar-brand" src="/img/logo.png">
			</div>
	
			<div>
				<ul class="nav navbar-nav nav-list">
					<li><a href="/admin/index" th:text="|Welcome, ${verifiedUser.userName}!|"></a>
					<li><a href="/admin/mgr/teacher">教师管理</a></li>
					<li><a href="/admin/mgr/student">学生管理</a></li>
					<li><a href="/admin/mgr/major">专业管理</a></li>
					<li><a href="/admin/mgr/class">班级管理</a></li>
					<li><a href="/admin/mgr/lesson">课程管理</a></li>
					<li><a href="/admin/mgr/book">书本管理</a></li>
				</ul>
				<ul class="nav navbar-nav nav-list">
					<li><a href="/admin/mgr/attend">选课管理</a></li>
					<li><a href="/admin/mgr/instruct">授课管理</a></li>
					<li><a href="/admin/mgr/usebook">用书管理</a></li>
					<li><a href="/admin/mgr/bookorder">选书管理</a></li>
					<li><a href="/admin/mgr/bookorder/statics">总表查看</a></li>
					<li><a href="/admin/logout">退出登陆</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>