<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="/admin/header::head"></head>

<body>
	<div th:include="/admin/header::headerBar"></div>

	<div class="container">
		<div class="panel panel-warning addDiv" style="“width: 550px;">
			<div class="panel-heading">新增教材</div>
			<div class="panel-body">
				<form method="post" id="addForm" action="book/add">
					<table class="addTable table table-responsive table-striped table-hover">
						<tr>
							<td>审核状态</td>
							<td><input id="status" name="status" type="text"
								class="form-control"></td>
						</tr>
						<tr>
							<td>详细信息</td>
							<td>
								<table
									class="addTable table table-responsive table-striped table-hover">
									<tr>
										<td>教材名</td>
										<td><input id="name" name="name" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>教材书号（ISBN）</td>
										<td><input id="ISBN" name="ISBN" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>教材版别</td>
										<td><input id="edition" name="edition" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>主编</td>
										<td><input id="chief_editor" name="chief_editor"
											type="text" class="form-control"></td>
									</tr>
									<tr>
										<td>出版单位</td>
										<td><input id="institute" name="institute" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>出版时间</td>
										<td><input id="pub_date" name="pub_date" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>作者</td>
										<td><input id="author" name="author" type="text"
											class="form-control"></td>
									</tr>
									<tr>
										<td>价格</td>
										<td><input id="price" name="price" type="text"
											class="form-control"></td>
									</tr>
								</table>
							</td>
						</tr>
	
						<tr>
							<td colspan="2" align="center">
								<button type="submit" class="btn btn-success">提交</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	
		<div class="listDataTableDiv">
			<table
				class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr class="success">
						<!-- 						<th>ID</th> -->
						<th>ID</th>
						<th>教材名称</th>
						<th>ISBN书号</th>
						<th>版别</th>
						<th>主编</th>
						<th>出版单位</th>
						<th>出版时间</th>
						<th>作者</th>
						<th>价格</th>
						<th>审核状态</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="obj : ${objList}">
						<td th:text="${obj.id}"></td>
						<td th:text="${obj.bookDetail.name}"></td>
						<td th:text="${obj.bookDetail.ISBN}"></td>
						<td th:text="${obj.bookDetail.edition}"></td>
						<td th:text="${obj.bookDetail.chiefEditor}"></td>
						<td th:text="${obj.bookDetail.institute}"></td>
						<td th:text="${obj.bookDetail.pubDate}"></td>
						<td th:text="${obj.bookDetail.author}"></td>
						<td th:text="${obj.bookDetail.price}"></td>
						<td><font style="color: red;" th:text="${obj.status}"></font></td>
						<td><a th:href="'/admin/mgr/book/edit/' + ${obj.id}">
							<span class="glyphicon glyphicon-edit"></span>
						</a></td>
						<td><a th:href="'/admin/mgr/book/delete/' + ${obj.id}">
							<span class="glyphicon glyphicon-trash"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:include="/admin/footer::footerBar"></div>
</body>
</html>