<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="stu/header::head"></head>

<body>

	<div th:include="stu/header::headerBar"></div>

	<div class="container" align="center">
		<table>
			<tr class="xdTitleRow">
				<td class="xdTitleCell">
					<h1 align="center" style="padding: 20px">
						<strong>长安大学本科生选择性购买教材申请表</strong>
					</h1>
					<div align="center">
						<table border="1" bordercolor="buttontext"
							style="WORD-WRAP: break-word; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 881px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none"
							class="xdLayout">
							<colgroup>
								<col width="60" style="WIDTH: 60px">
								<col width="363" style="WIDTH: 363px">
								<col width="78" style="WIDTH: 78px">
								<col width="122" style="WIDTH: 122px">
								<col width="99" style="WIDTH: 99px">
								<col width="159" style="WIDTH: 159px">
							</colgroup>
							<tbody>
								<tr>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt">学院:</font>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<div class="infoplus_labelControlContainer inline">
												<input type="hidden" value="信息工程学院">
												<div style="WIDTH: 100%" title=""
													class="infoplus_control infoplus_labelControl inline">
													<font face="微软雅黑" style="FONT-SIZE: 15pt"
														th:text="${academy}"></font>
												</div>
											</div>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt">填表人:</font>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<div class="infoplus_labelControlContainer inline">
												<input type="hidden" value="2016900667">
												<div style="WIDTH: 100%" title=""
													class="infoplus_control infoplus_labelControl inline">
													<font face="微软雅黑" style="FONT-SIZE: 15pt" th:text="${name}"></font>
												</div>
											</div>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt">填表时间:</font>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<div class="infoplus_labelControlContainer inline">
												<input type="hidden" value="1544544000">
												<div style="WIDTH: 100%" title=""
													class="infoplus_control infoplus_labelControl inline">
													<font face="微软雅黑" style="FONT-SIZE: 15pt" th:text="${date}"></font>
												</div>
											</div>
										</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div align="center">
						<table border="1" class="addTable table table-responsive table-striped table-hover">
							<tbody>
								<tr>
									<td>
										<div align="center">
											<font face="微软雅黑" size="4">姓名</font>
										</div>
									</td>
									<td><div align="center">
											<div>
												<input type="hidden" value="2016900667">
												<div title="">
													<font face="微软雅黑" th:text="${name}"></font>
												</div>
											</div>
										</div></td>
									<td><div align="center">
											<font face="微软雅黑" size="4">学号</font>
										</div></td>
									<td><div align="center">
											<div>
												<input type="hidden" value="2016900667">
												<div title="">
													<font face="微软雅黑" th:text="${id}"></font>
												</div>
											</div>
										</div></td>
									<td><div align="center">
											<font face="微软雅黑" size="4">专业</font>
										</div></td>
									<td><div align="center">
										<div>
											<input type="hidden">
											<div title="">
												<font face="微软雅黑" th:text="${major}"></font>
											</div>
										</div>
									</div></td>
								</tr>
								<tr>
									<td><div align="center">
											<font face="微软雅黑" size="4">年级</font>
									</div></td>
									<td><div align="center">
											<div>
												<input type="hidden">
												<div title="">
													<font face="微软雅黑" th:text="${grade}"></font>
												</div>
											</div>
										</div></td>
									<td><div align="center">
											<font face="微软雅黑" size="4">班级</font>
										</div>
										<div align="center"></div></td>
									<td th:text="${class}"><div align="center">
											<div>
												<input type="hidden" value="2016240206">
												<div title="" th:text="${class}"></div>
											</div>
										</div></td>
									<td><div align="center">
											<font face="微软雅黑" size="4">联系电话</font>
										</div></td>
									<td><div align="center">
											<div>
												<input type="hidden" value="18777938612">
												<div title="">
													<font face="微软雅黑" th:text="${phone}"></font>
												</div>
											</div>
										</div></td>
								</tr>
								<tr>
									<td><div align="center">
											<font face="Microsoft YaHei" size="4">学期</font>
										</div></td>
									<td colspan="5"><div align="center">
											<div>
												<input type="hidden" value="2019年春季">
												<div title="">
													<font face="微软雅黑">2019年春季</font>
												</div>
												<!-- "年季" 库里没有！ -->
											</div>
										</div></td>
								</tr>
								<tr>
									<td colspan="6"><div align="center" name="groupGMJCList">
											<input type="hidden" name="fieldGroupGMJCListCount444189"
												value="0">
												
											<!-- Form begins here! -->
											<form method="post" action="#">	
												<table widgetindex="0" border="1" class="addTable table table-responsive table-striped table-hover">
													<colgroup>
														<col width="112">
														<col width="151">
														<col width="147">
														<col width="105">
														<col width="69">
														<col width="147">
														<col width="74">
														<col width="75">
													</colgroup>
													<thead>
														<tr>
															<th>课程代码</th>
															<th><font size="3">课程名称</font></th>
															<th><font size="3">教材名称</font></th>
															<th><font size="3">ISBN书号</font></th>
															<th><font size="3">作者</font></th>
															<th><font size="3">出版社</font></th>
															<th><font size="3">数量</font></th>
															<th><font face="Microsoft YaHei" size="3">意见</font></th>
														</tr>
													</thead>
													<tbody th:each="info : ${bookinfo}">
														<tr>
															<td th:text="${info['lesson_code']}"></td>
															<td th:text="${info['lesson_name']}"></td>
															<td th:text="${info['book_name']}"></td>
															<td th:text="${info['book_code']}"></td>
															<td th:text="${info['book_author']}"></td>
															<td th:text="${info['book_publisher']}"></td>
															<td><input th:id="${info['book_code']}" th:value="${info['book_num']}" class="form-control"></input></td>
															<td><input th:id="uid" th:value="${id}" class="form-control" type="hidden"></input></td>
														</tr>
													</tbody>
												</table>
												<input type="submit" class="btn btn-success" style="margin: 20px">
											</form>
									
											
									</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</table>


	</div>

	<div th:include="stu/footer::footerBar"></div>

</body>
</html>