<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="stu/header::head"></head>

<body>

	<div th:include="stu/header::headerBar"></div>

	<div class="container" align="center">
		<table>
			<tr class="xdTitleRow">
				<td class="xdTitleCell">
					<h1 align="center" style="padding: 20px">
						<strong>长安大学本科生选择性购买教材申请表</strong>
					</h1>
					<div align="center">
						<table border="1" bordercolor="buttontext"
							style="WORD-WRAP: break-word; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WIDTH: 881px; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none"
							class="xdLayout">
							<colgroup>
								<col width="60" style="WIDTH: 60px">
								<col width="363" style="WIDTH: 363px">
								<col width="78" style="WIDTH: 78px">
								<col width="122" style="WIDTH: 122px">
								<col width="99" style="WIDTH: 99px">
								<col width="159" style="WIDTH: 159px">
							</colgroup>
							<tbody>
								<tr>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt">学院:</font>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt"><div
													class="infoplus_labelControlContainer inline">
													<input type="hidden" value="信息工程学院">
													<div style="WIDTH: 100%" title=""
														class="infoplus_control infoplus_labelControl inline">信息工程学院</div>
												</div></font>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt">填表人:</font>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt"><div
													class="infoplus_labelControlContainer inline">
													<input type="hidden" value="2016900667">
													<div style="WIDTH: 100%" title=""
														class="infoplus_control infoplus_labelControl inline">陈康</div>
												</div></font>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt">填表时间:</font>
										</div></td>
									<td
										style="BORDER-TOP: #000000 1pt; BORDER-RIGHT: #000000 1pt; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #000000 1pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1pt; PADDING-RIGHT: 5px"><div>
											<font face="微软雅黑" style="FONT-SIZE: 15pt"><div
													class="infoplus_labelControlContainer inline">
													<input type="hidden" value="1544544000">
													<div style="WIDTH: 100%" title=""
														class="infoplus_control infoplus_labelControl inline">2018-12-12</div>
												</div></font>
										</div></td>
								</tr>
							</tbody>
						</table>
					</div></td>
			</tr>
			<tr class="xdTableContentRow">
				<td class="xdTableContentCell">
					<div align="center">
						<form action="#" th:action="/stu/bookOrder" method="post">
						<table border="1" class="table-striped table-hover">
							<tbody>
								<tr>
									<td>
										<div align="center">
											<font face="微软雅黑" size="4">姓名</font>
										</div>
									</td>
									<td th:text="${stuname}"<div align="center">
											<font face="微软雅黑"><div>
													<input type="hidden" value="2016900667">
													<div title="">陈康</div>
												</div></font>
										</div></td>
									<td><div align="center">
											<font face="微软雅黑" size="4">学号</font>
										</div></td>
									<td th:text="${id}"><div align="center">
											<font face="微软雅黑"><div>
													<input type="hidden" value="2016900667">
													<div title="">2016900667</div>
												</div></font>
										</div></td>
									<td><div align="center">
											<font face="微软雅黑" size="4">专业</font>
										</div></td>
									<td th:text="${major}"><div align="center">
											<font face="微软雅黑"><div>
													<input type="hidden">
													<div title="">软件工程</div>
												</div></font>
										</div></td>
								</tr>
								<tr>
									<td><div align="center">
											<font face="微软雅黑" size="4">年级</font>
										</div></td>
									<td th:text="${grade}"><div align="center">
											<font face="微软雅黑"><div>
													<input type="hidden">
													<div title="">2016</div>
												</div></font>
										</div></td>
									<td><div align="center">
											<font face="微软雅黑" size="4">班级</font>
										</div>
										<div align="center"></div></td>
									<td th:text="${class}"><div align="center">
											<div>
												<input type="hidden" value="2016240206">
												<div title="">2016240206</div>
											</div>
										</div></td>
									<td><div align="center">
											<font face="微软雅黑" size="4">联系电话</font>
										</div></td>
									<td th:text="${phone}"><div align="center">
											<font face="微软雅黑"><div>
													<input type="hidden" value="18777938612">
													<div title="">2333333333</div>
												</div></font>
										</div></td>
								</tr>
								<tr>
									<td><div align="center">
											<font face="Microsoft YaHei" size="4">学期</font>
										</div></td>
									<td colspan="5" th:text="${semaster}"><div align="center">
											<font face="微软雅黑"><div>
													<input type="hidden" value="2019年春季">
													<div title="">2019年春季</div>
												</div></font>
										</div></td>
								</tr>
								<tr>
									<td colspan="6"><div align="center" name="groupGMJCList">
											<input type="hidden" name="fieldGroupGMJCListCount444189"
												value="0">
											<table widgetindex="0" border="1">
												<colgroup>
													<col width="112">
													<col width="151">
													<col width="147">
													<col width="105">
													<col width="69">
													<col width="147">
													<col width="74">
													<col width="75">
												</colgroup>
												<thead>
													<tr>
														<th>课程代码</th>
														<th><font size="3">课程名称</font></th>
														<th><font size="3">教材名称</font></th>
														<th><font size="3">校内书号</font></th>
														<th><font size="3">作者</font></th>
														<th><font size="3">出版社</font></th>
														<th><font size="3">数量</font></th>
														<th><font face="Microsoft YaHei" size="3">意见</font></th>
													</tr>
												</thead>
													<tbody>
														<tr th:each="book:${pam}">
															<td th:text="${book.lessoncode}">X2016011</td>
															<td th:text="${book.lessonname}">软件详细设计</td>
															<td th:text="${book.bookname}">软件详细设计</td>
															<td th:text="${book.bookcode}">ABC123445</td>
															<td th:text="${book.bookauthor}">XXX</td>
															<td th:text="${book.bookpublisher}">西安交大</td>
															<td><input th:id="${id}" th:value="${book.num}"></input></td>
															<td></td>
														</tr>
													</tbody>
													<input type="submit" value="提交"/>

											</table>
										</div></td>
								</tr>
							</tbody>
						</table>
						</form>
					</div>
				</td>
			</tr>
		</table>


	</div>

	<div th:include="stu/footer::footerBar"></div>

</body>
</html>